<ion-header style="background-color: #ff7507;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button  (click)="closeModal()">
          <ion-icon name="arrow-back">annuler</ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Modification du Mot de Passe</ion-title>
   </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-card>
          <ion-item>
              <ion-input type="password"  [(ngModel)]="password" placeholder="Entrer votre nouveau mot de pass"></ion-input>
         </ion-item>
         <ion-item>
            <ion-input type="password"  [(ngModel)]="repassword" placeholder="Confirmer votre mot de pass"></ion-input>
       </ion-item>
    </ion-card>
            <div class="contenue">
                

            </div>

          <ion-row align-items-center>
              <div class="btn">
                  <ion-button type="submit" expand="block" style=" text-transform: capitalize;" (click)="resetPassword()" >Valider
                </ion-button>
              </div>
          </ion-row>
        

  </ion-content>
