<ion-header>
	<ion-toolbar>

		<ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil"></ion-back-button>
        </ion-buttons>
		
		<ion-title>
			<ion-icon ios="ios-pricetag" md="md-pricetag" style="color:#09c;"></ion-icon> Demande
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content style="background:rgba(0,0,0,0.5);">


	<ion-card>
		<ion-card-header style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
			<ion-item style="margin: 5px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction:column;">
				<span style="text-align:center;">
						cliquer sur le bouton <b>Demande Personnalisée</b> pour effectuer une demande.<br/>
				</span>
			</ion-item>

			<ion-item style="margin: 5px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction:column;">
				<ion-button fill="outline" (click)="presentAlertPrompt();">Demande Personnalisée</ion-button>
			</ion-item>
			<ion-card-title style="text-align:center; margin-top:5px;"> <ion-icon name="pin" slot="start"></ion-icon> Modèle</ion-card-title>
				<ion-card-subtitle style="text-align:center;">cliquer sur l'un des modèles ci-dessous pour effectuer votre demande.</ion-card-subtitle>

		</ion-card-header>

		<ion-card-content>
  <ion-list>
    <app-modele-carte 
	  [userFilter]="userFilter" [userCollectionFilter]="userCollectionFilter"
	  [allData]="cartes" [Verify]="true" [actionS]="false" [privatedMe]=" false " [activeToolBar]="true">
    </app-modele-carte>
  </ion-list>

		</ion-card-content>

	</ion-card>


</ion-content>
