<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/accueil"></ion-back-button>
	  
  </ion-buttons>
	  <ion-searchbar color="light" animated placeholder="Recherche par nom ..." #value [value]="" mode="ios" spellcheck="true" (keyup)="keyUpsearch(value?.value)" ></ion-searchbar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list >
      <app-modele-carte [userFilter]="userFilter" [userCollectionFilter]="userCollectionFilter" (share)="share($event)"
                        (supprimer)="supprimer($event)"
                        [allData]="modeles" [Verify]="true" [actionS]="true">
      </app-modele-carte>

  </ion-list>
 
</ion-content>
