//animation du splash screan
  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  .botn{
    visibility: hidden;
  }
  .btn {
    position:absolute;
    bottom: 20px;
    width:10%;
    text-align:center;
    cursor:pointer;
    z-index:5;
}
.md-img{
  margin-top: 20%;
  font-size:7em;
}

