<!-- Modele 1 -->
<div *ngIf="allData " style="margin-top: ;" [ngStyle]="{'margin-top' : (marge == true) ? '85px' : '30px'}">
<div *ngFor="let allData of allData.data | filterBy: userFilter | filterBy : userCollectionFilter; index as i">
			<div *ngIf="checker(allData?.id+'ma-collection') == false">
				<ion-card style="padding:0;" *ngIf="allData?.verify_photo == true ">
					<ion-card-content [ngStyle]="{'height': '100%', 'padding':'0'}">
					   <img [src]="'https://togetme.pro/'+allData?.m_c_v" [alt]="'Chargement de la carte...'" tappable (click)="openPreview('https://togetme.pro/'+allData?.m_c_v, allData, actionS, activeToolBar, privatedMe, user?.id_user, allData?.person_id, i  )">
					</ion-card-content>
				</ion-card>


				<ion-card style="padding:0;" *ngIf="allData?.verify_photo == true && activeToolBar == true">
					<ion-card-content [ngStyle]="{'height': '100%', 'padding':'0'}">
					   <img [src]="'https://togetme.pro/'+allData?.model_images" [alt]="'Chargement de la carte...'" tappable (click)="openPreview('https://togetme.pro/'+allData?.model_images, allData, actionS, activeToolBar, privatedMe, user?.id_user, allData?.person_id, i  )">
					</ion-card-content>
				</ion-card>

				<ion-card style="padding:0;" *ngIf="allData?.verify_photo == false">
					<ion-card-content [ngStyle]="{'background-repeat':'no-repeat', 'background-size':'100% 100%', 'height': '200px', 'background':'#09c', 'color':'#fff'}">

					  <div style="position:relative; display:flex; color:#fff; flex-wrap:wrap; justify-content:center; align-items:center; width:100%; height:auto; text-align:center;" tappable (click)="openPreview('https://togetme.pro/'+allData?.m_c_v, allData, actionS, activeToolBar, privatedMe, user?.id_user, allData?.person_id, i )">
							<span style="width:100%;">Nom : {{allData?.person_nom_phonetique || 'indisponible'}}</span><br/>
							<span style="width:100%;">Téléphone personnel : {{allData?.person_tel_perso || 'indisponible'}}</span><br/>
							<!-- <span style="width:100%;">Téléphone professionnel : {{allData?.person_tel_profe || 'indisponible'}}</span><br/> -->
							<span style="width:100%;"> Email : {{allData?.person_email || 'indisponible'}}</span><br/>
							<span style=" padding:5px; border:1px dashed #fff;"> Cette carte est en cours de création et sera bientôt disponible...</span>

					  </div>
					</ion-card-content>

				</ion-card>
			</div>
</div>
<div *ngFor="let allDatas of allData.data index as i">

		<div  *ngIf="allDatas?.model_statut == 1">
				<ion-card style="padding:0;" *ngIf="activeToolBar == true">
					<ion-card-content [ngStyle]="{'height': '100%', 'padding':'0'}">
					   <img [src]="'https://togetme.pro/'+allDatas?.model_images" [alt]="allDatas?.model_libelle" tappable (click)="openPreview('https://togetme.pro/'+allDatas?.model_images, allData, actionS, activeToolBar, privatedMe)">
					</ion-card-content>
				</ion-card>


		</div>

</div>


 

      
            <div *ngIf="allData?.data?.length == 0 && allData?.status == 200 " class="alert " style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; text-align:center;">
                <img src="assets/oups.png" style="width:50%;" alt="Oupsss!">
                <h5><strong>Aucune donnée trouvée </strong></h5>
                <a href="#" routerLink="/accueil" *ngIf="actionS == false">Retour à Accueil</a>
            </div>

			<div *ngIf="allData?.data?.length == 0 && allData?.status != 200 " class="alert " style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; text-align:center;">
                <img src="assets/oups.png" style="width:50%;" alt="Oupsss!">
                <h5><strong>Aucune donnée trouvée </strong></h5>
                <a href="#" routerLink="/accueil" *ngIf="actionS == false">Retour à Accueil</a>
            </div>

            <div *ngIf="(allData?.data | filterBy: userFilter)?.length === 0 && allData?.data?.length > 0 && allData?.model_images?.length == 0" class="alert " style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; text-align:center;">
                <!-- <img src="assets/oups.png" style="width:50%;" alt="Oupsss!"> -->
				<h6> Recherche de : {{userFilter?.person_service}}</h6>
                <h5><strong>Aucune donnée trouvée </strong></h5>
                <!-- <a href="#" routerLink="/accueil" *ngIf="actionS == false">Faire une nouvelle recherche</a> -->
            </div>

            <div *ngIf="(allData?.data | filterBy: userCollectionFilter)?.length === 0 && allData?.data?.length > 0 && allData?.model_images?.length == 0" class="alert " style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; text-align:center;">
                <!-- <img src="assets/oups.png" style="width:50%;" alt="Oupsss!"> -->
				<h6> Recherche de : {{userCollectionFilter?.person_nom_phonetique}}</h6>
                <h5><strong>Aucune donnée trouvée </strong></h5>
                <!-- <a href="#" routerLink="/accueil" *ngIf="actionS == false">Faire une nouvelle recherche</a> -->
            </div>
    
		
</div>


<div *ngIf="!allData || allData?.length == 0">	

<app-expandable [boucle]="true"></app-expandable>

</div>
