<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	
      <ion-searchbar color="light" animated placeholder="Recherche par nom ..." #value [value]="" mode="ios" spellcheck="true" (keyup)="keyUpsearch(value?.value)" ></ion-searchbar>
	  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <app-modele-carte 
	  [userCollectionFilter]="userCollectionFilter"

      [allData]="cartes" [Verify]="true" [actionS]="false" [privatedMe]=" true ">
    </app-modele-carte>
  </ion-list>

</ion-content>
