<ion-header>
    <ion-toolbar>
      

      <ion-title>
        Aide
      </ion-title>
      <ion-buttons slot="start">
        <ion-button  (click)="closeModal()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    	  
	  <section id="service">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
			
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" style="text-align:center;" (click)="false;">
                              Foire Aux Questions <br/> ToGetme
                            </a>
                        </h4>
                    </div>
                </div>
				
				 <div class="panel panel-default"  *ngFor="let item of items; index as i">
                    <div class="panel-heading" role="tab" id="headingTwo_{{i}}">
                        <h4 class="panel-title">
                            <a class="collapsed me_col" id="collapsed_{{i}}" role="button" (click)="showme('collapseTwo_' + i, 'collapseTwo', 'collapsed_'+i); false;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                {{i+1}} : {{ item?.question }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo_{{i}}" class="collapseTwo panel-collapse in collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>{{ item?.reponse }}  </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
<audio id="myAudio">
  <source src="assets/audio/togs.ogg" type="audio/ogg">
  <source src="assets/audio/togs.mp3" type="audio/mpeg">
</audio>
</ion-content>
