<ion-header style="background-color: #ff7507;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CGU / Confidentialité</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>

<div style="width:100%; display:flex; justify-content:center; align-items:center; padding:25px; border-bottom:1px solid #eee; flex-direction:column;">
   <div style="width:150px; height:150px; border-radius:50%; border:5px solid #F5F5F5; margin:0 auto; display:flex; justify-content:center; align-items:center; background:#eee;">
    <img src="assets/image/2.svg">
   </div>
</div>
<div class="text" style="text-align: justify;padding: 15px;">
  <p>
      
CONDITIONS GENERALES D’UTILISATION

Entrée  en  vigueur : 01 Juillet  2019

Bienvenue sur <b>ToGetme</b> !

Préambule
La Société « ToGet » est une Société à Responsabilité  Limitée Unipersonnelle au capital de 3 000 000 F CFA, immatriculée au RCCM : CI-ABIDJAN-2017-B-4080,  N CC : 1707110A dont le siège social est situé à Abidjan Cocody Angré, adresse e-mail : www.toget.pro / info@toget.pro.
La société «  ToGet » fournit un service de  gestion de carte de  visite  numérique via  l’application  mobile « <b>ToGetme</b> » disponible  notamment sur « Google store »,                    « App store ».
Tout usage de l’Application mobile est soumis  à l’acceptation  des présentes  conditions générales d’utilisation (CGU) et de la  politique de confidentialité.
En remplissant    et  validant votre  formulaire d’inscription, vous devrez lire et accepter les présentes CGU. Par cette acceptation vous vous engagez à respecter nos conditions générales d’utilisation. Toute modification des CGU sera  notifiée  par mail à chaque utilisateur.

Sommaire
<br/><b style="color:#09c;">Article</b> 1 : Définitions 
<br/><b style="color:#09c;">Article</b>  2 : Objet du service
<br/><b style="color:#09c;">Article</b> 3 : Données  collectées
<br/><b style="color:#09c;">Article</b> 4 : Accès à l’application
<br/><b style="color:#09c;">Article</b> 5 : Obligations de l’utilisateur
<br/><b style="color:#09c;">Article</b> 6 : Modération  
<br/><b style="color:#09c;">Article</b> 7 : Suppression  d’un compte sur  l’Application
<br/><b style="color:#09c;">Article</b>  8 : Responsabilité 
<br/><b style="color:#09c;">Article</b>  9 : Modification des conditions générales d’  utilisation
<br/><b style="color:#09c;">Article</b>  10 : Propriété  intellectuelle
<br/><b style="color:#09c;">Article</b>  11 : Droit applicable  et juridiction compétente
<br/><b style="color:#09c;">Article</b>  12 : Informations, réclamations  et contact



<br/><b style="color:#09c;">Article</b> 1 : Définitions 
ToGet : la SARL est propriétaire de l’application « <b>ToGetme</b> ». La SARL ToGet exploite l’application « <b>ToGetme</b> ».
Application <b>ToGetme</b> /Application mobile : ToGet –me est une application mobile de gestion des cartes de visite numériques.
Membre : utilisateur de l’application.
Utilisateur : le terme « utilisateur », dans le cadre de ces CGU, doit être compris comme l’équivalent de « Membre ». L’ « Utilisateur » ou « Membre» est une personne majeure  qui  a validé  le  processus  d’inscription  aux services  de l’application.
Services : <b>ToGetme</b>   est  une  application  mobile  proposant    notamment  les services suivants :
Conception  des  cartes de visite numérique ;
Reproduction des  cartes  de  visite ;
 Gestion de  cartes de  visite  numérique.

<br/><b style="color:#09c;">Article</b> 2 : Objet  du service
<b>ToGetme</b>  est une  application mobile, un service de ToGet, un album conçu dans le but de permettre aux entreprises, consultants, enseignants, hommes d’affaires, hommes de métiers et particuliers à avoir leurs cartes de visite disponibles et accessibles facilement par leurs clients, partenaires  en un seul clic.
<b>ToGetme</b>  permet à toute personne de gérer, collecter et diffuser ses cartes de visite à plusieurs individu (s).
<b>ToGetme</b>  donne la possibilité à chaque personne d’emporter sur elle  des milliers de cartes de visite.
Avec <b>ToGetme</b>, vos clients et partenaires ne vous perdent jamais.

Cette  application  mobile  vise  uniquement un cadre  incitant  au développement de relations commerciales virtuelle et /ou réelles  entre  les utilisateurs de « <b>ToGetme</b> » par  l’intermédiaire de l’Application.
<br/><b style="color:#09c;">Article</b> 3 : Données Collectées
Soucieux  du  respect  de la  vie privé de ses membres  et de la  protection  des  informations  qui lui sont  fournies , « <b>ToGetme</b> » » respecte  la  législation  en vigueur  en matière  de protection de la vie  privée.   
Conformément à la loi n°2013- 450 du 19 juin 2013, dite la loi Informatique et Libertés, en date du 19 juin 2013, chaque Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.

<br/><b style="color:#09c;">Article</b> 4 : Accès à l’Application
4.1. Téléchargement 
L’Application «  <b>ToGetme</b> »  est disponible  au téléchargement  sur  l’App store  et Google Play store.
.
L’application est  accessible  gratuitement  en tout  lieu  et à tout Utilisateur ayant un accès  à Internet. Tous  les  frais  supportés  par  l’ Utilisateur pour  accéder  au service (  matériels informatique , logiciels ,  connexion internet, etc.) sont  à sa charge.
4.2. Connexion
L’Utilisateur est le seul responsable des moyens techniques utilisés pour accéder aux Services. A ce titre, il est notamment seul responsable des équipements nécessaires et des frais associés.
4.3. Conditions d’accès aux services
Afin  de pouvoir accéder aux Services, il est nécessaire  de remplir les conditions suivantes :
Télécharger  l’application  mobile  <b>ToGetme</b>
Créer un compte ;
Faire une demande de carte de visite numérique ;
Payer  les  frais de confection de  carte de  visite  numérique ;
Avoir lu  et  accepté  les présentes CGU ;
Avoir  lu et accepter la  politique de  confidentialité ;

<br/><b style="color:#09c;">Article</b> 5 : Obligations de l’utilisateur
Durant  l’utilisation des Services  l’Utilisateur s’engage,  notamment :
Etre  honnête et  sincère  dans  ses déclarations ;
 à respecter les règles de la Netiquette (règles de bonne conduite de l’internet) et les règles de droit en vigueur ;

<br/><b style="color:#09c;">Article</b> 6 : Modération
ToGet   procède à la  modération  de l’application dans son ensemble  et  permet  aux  utilisateurs  le  signalement  de descriptions contrevenant aux présentes CGU.
<br/><b style="color:#09c;">Article</b> 7 : Suppression  d’un compte sur  l’Application  <b>ToGetme</b>
Lorsqu’un   Membre  procède   à la suppression  de son compte de son compte « ToGetme »,  l’ ensemble de  ses données  personnelles  est  immédiatement retiré de l’ application  afin de  ne  plus permettre  de  visibilité de l’Utilisateur concerné  par  les autres Utilisateurs.
En cas de bannissement  de l’application d’un Membre pour des raisons sérieuses unilatéralement constatées  par la société ToGet  (notamment le non –respect des CGU, etc.), ses données peuvent être conservées jusqu’à la fin de l’engagement contractuel de l’Utilisateur.
Dans  l’hypothèse où un ou plusieurs services payants seraient en cours au moment de la  suppression  de son compte par l’Utilisateur,  aucun remboursement d’une aucune sorte  ne  peut être sollicité.
La société ToGet  se réserve  la  possibilité   de procéder à la suppression d’un compte resté inactif. La  procédure  de suppression  d’un compte  inactif  induit  l’envoie d’  un mail par  la société ToGet.    

<br/><b style="color:#09c;">Article</b> 8 : Responsabilités
8.1. Responsabilité  de l’Utilisateur
La société  ToGet  ne saurait  être  tenue  responsable  des contenus  quels qu’ils soient  publiés   par les  Utilisateurs  et  Membres  de l’Application <b>ToGetme</b>.
ToGet encourage  ses  Membres  qui désirent  faire  des rencontres  « réelles » à adopter  une attitude  générale   et raisonnable  de prudence.  Le déroulement  de ces  rencontres  sort  du cadre  fourni   par  l’ application  et relève   donc de ce fait de l’ entière  responsabilité des Membres  se  rencontrant  physiquement.
8.2. Responsabilité de ToGet
ToGet   ne saurait être  tenue  responsable  d’actions  par  lesquelles  ses Membres  ou Utilisateurs  engageraient  leur  responsabilité  y compris  pénale  et   notamment :
Tous  faits  d’escroquerie ;
Tous comportements  illicites ;
Tous faits d’  usurpation  d’identité ;
Toute atteinte  au droit de la  propriété   intellectuelle d’un tiers.
ToGet   ne saurait être  tenue responsable  de quelque  dysfonctionnement  que ce soit  du terminal de l’Utilisateur ou  de toute  incompatibilité  technique  entre  l’Application   et le terminal considéré.
<br/><b style="color:#09c;">Article</b> 9 : Modification des  conditions générales  d’utilisation
Les CGU  peuvent  à  tout  moment  être modifiées, complétées ou supprimées  de manière  unilatérale par la société  « ToGet ».
L’Utilisateur sera  informé  suivant les  modifications de CGU  de la  nature  desdites modifications. L’Utilisateur s’oblige  alors  à prendre connaissance  des  modifications considérées  et à les accepter, le cas échéant  suivant  la  même  procédure d’acceptation que  la version  précédente.
L’Utilisateur  engage  sa responsabilité  en cas de violation  des CGU. Le fait  pour  un Utilisateur  d’arguer de l’ignorance de nouvelle CGU  ne saurait en aucun cas  faire  un  obstacle à la  mise  en  jeu de sa  responsabilité pleine et entière.
L’application des  nouvelles CGU est immédiate  à  compter  de leur  mise  en  ligne.
<br/><b style="color:#09c;">Article</b> 10 : Propriété intellectuelle
Les  contenus  diffusés  par la société  ToGet  sur  l’Application  « <b>ToGetme</b> » et  notamment les marques, logos, les graphismes ainsi que tous les contenus du site (textes, images, son…) sont  la  propriété exclusive de « ToGet ».
L’Utilisateur  dispose  de droits d’utilisation  qui lui sont  accordés  par la société  « ToGet ». Ces droits  sont exclusivement destinés  à un usage  privé et  personnel pendant  la durée  de l’inscription  de l’Utilisateur. Toute autre  utilisation  est expressément  proscrite.
L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. 
<br/><b style="color:#09c;">Article</b> 11 : Droit applicable et juridiction compétente
Les tribunaux Ivoiriens sont seuls compétents pour connaître des  litiges  éventuels  de l’interprétation  des relations entre  ToGet  et   les utilisateurs  de l’Application           « <b>ToGetme</b> ».
<br/><b style="color:#09c;">Article</b>  12 : Informations, réclamations  et contact
Pour  toute demande  d’informations  particulières ou de réclamations  vous  pouvez  contacter  ToGet :
Par mail : www.toget.pro /info@toget.pro
  </p>
</div>
</ion-content>
