<ion-header style="background:#000;">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil"></ion-back-button>
        </ion-buttons>
		

		 <ion-searchbar color="light" animated placeholder="Recherche..." #value [value]="search ? search : ''" mode="ios" spellcheck="true" (keyup.enter)="RequestSending(typeElement, value?.value)"></ion-searchbar>
		 
		 <!-- <ion-buttons slot="end"> -->
            <!-- <ion-icon ios="ios-search" md="md-search" style="font-size:30px; color: #aaa;" ></ion-icon>   -->
        <!-- </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content  style="overflow:hidden; background:#f2f2f2;">
<div style="background:#f2f2f2; width:100%; height:100%">


<div id="nativetogetc">
	<div style="width:20%; position:fixed; z-index:9999; left:0; display:flex; text-align:center; font-size:10px;  flex-direction:column; background:#fefefe; height:100%; overflow-y:auto;">

	<div style="" class="sidbarleftheader">Categorie</div>
	
	<div style="" class="sidbarleft  cat_" (click)="ActiveCat('Tout',0, true);" id="cat_0">Tout</div>
	<div *ngIf="Categorie?.length > 0 " >
		<div class="sidbarleft cat_" id="cat_{{i + 1}}" *ngFor="let cat of Categorie; index as i" (click)="ActiveCat(cat.name,i+1, true);">
		{{cat.name}}
		</div>
	</div>

	
<div *ngIf="Categorie?.length == 0 " >

	<div *ngFor="let bboucl of [1,2,3]">
		<app-expandable [boucleSmallLeft]="true" ></app-expandable>
	</div>

</div>

	</div>
	<div style="font-size: 10px; z-index: 99999999; text-align:left; position:fixed; display: flex; justify-content: left; width: 75%; right: 0;" class="sidbarleftheader">Recherche dans  :  {{catName || ''}} <span style="text-decoration:underline; position:absolute; float:right; right:25px; color:#fff;"> {{modeles?.data?.length || '...'}} sur {{rekAll || '...'}} trouvé</span> </div>
	
<div style="position:fixed; z-index:9999999; background:#fff; right:0" class="box-ctt">


<ion-segment color="secondary" scrollable #id *ngIf="service && service?.length > 0 ">
  <ion-segment-button value="standard" checked  value="all" color="warning" class="service element_" id="element_0"  (click)="loadFilterData('',0);">
    <ion-badge color="secondary" style="margin:5px;">{{modeles?.data?.length}}</ion-badge> <ion-label style=" text-transform: capitalize;">Tous</ion-label>
  </ion-segment-button>
  <ion-segment-button  value="element_{{i+1}}" class="service element_" *ngFor="let m of service; index as i"  id="element_{{i+1}}" (click)="loadFilterData(m?.service,i+1);">
     <ion-badge color="secondary" style="margin:5px;">{{m?.nombre_element}}</ion-badge><ion-label style=" text-transform: capitalize;">{{m?.service}}</ion-label>
  </ion-segment-button>
</ion-segment>

<div *ngIf="type == 'entreprise' && service?.length == 0 " >
<app-expandable [boucleSmall]="true" ></app-expandable>
</div>


</div>


<div style="width:75%; z-index:9999; float: right; overflow:auto;">

    <ion-list style="background:#fff;">
        <app-modele-carte *ngIf="modeles"
			[userFilter]="userFilter"
            (share)="share($event)" 
            (ajouter) = "enregistrer($event)" [user]="profil"
			[allData]="modeles" [actionS]="false" [marge]="(type == 'entreprise') ? true : false"
        ></app-modele-carte>


  <ion-infinite-scroll  (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Chargement des données...">
    <ion-infinite-scroll-content>
  <span style="display:flex; justify-content:center; color:#ddd;" *ngIf="endpage == false || modeles?.data?.length >= 5">
           Plus...</span>

	
	</ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
		   <span style="display:flex; justify-content:center; color:#ddd;" *ngIf="endpage == true ">
           Fin  de la requête ...</span>
		   
    </ion-list>


</div>
</div>

</div>
</ion-content>
