<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref=""></ion-back-button>
      </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-content>
    <div>
        <p>Appuyer sur 'Lancer' puis parler à votre appareil de maniere claire et repose</p>
        <ion-button  [color]="(isListening) ? 'danger':'secondary'" (tap)="(isListening)? stopListening():startListening()">
       {{(isListening) ? 'stop!':'lancer !'}}
        </ion-button>
    </div>
    <ion-list>
        <ion-item *ngIf="matches.length<=0">
        Aucun resultat : 5
        </ion-item>
        <ion-item *ngFor="let match of matches">
        {{match}}
        </ion-item>
    </ion-list>
</ion-content>-->
<ion-content>
    <div style="width:100%; display:flex; justify-content:center; align-items:center; padding:25px;  flex-direction:column;">
         <div style="width:150px; height:150px; border-radius:50%; border:5px solid #F5F5F5; margin:0 auto; display:flex; justify-content:center; align-items:center; background:#eee;">
         <ion-icon ios="ios-contact" md="md-contact" style="font-size:55px; color:#09c;"></ion-icon>
         </div>
    
  <div class="card" style="margin-top: 10px;">
      <ion-card>
          <form [formGroup]="connexionForm">
            <ion-item>
          <ion-input type="text" formControlName="login" placeholder="Votre Email ou Numéro"></ion-input>
        </ion-item>
            <div>
                <ng-container *ngFor="let message of validation_messages.login" >
                    <div class="validation-message" *ngIf="connexionForm.get('login').hasError(message.type)&& (connexionForm.get('login').dirty || connexionForm.get('login').touched)">
                        {{message.message}}
                    </div>
                </ng-container>
            </div>
        <ion-item>
            <ion-input [type]="password" formControlName="password" placeholder="Mot de passe"></ion-input>
            <ion-icon name="eye" align-self-end="" [tooltip]="tooltipsMessage" *ngIf="passwordShow == true" positionV="top" (click)="togglePassword()" ></ion-icon>
            <ion-icon name="eye-off" align-self-end="" [tooltip]="tooltipsMessage" *ngIf="passwordShow == false" positionV="top" (click)="togglePassword()" ></ion-icon>
        </ion-item>
            <div>
                <ng-container *ngFor="let message of validation_messages.password" >
                    <div class="validation-message" *ngIf="connexionForm.get('password').hasError(message.type)&& (connexionForm.get('password').dirty || connexionForm.get('password').touched)">
                        {{message.message}}
                    </div>
                </ng-container>
            </div>
            <div class="btn">
                <ion-button type="submit" expand="block" (click)="login()" [disabled]="!connexionForm.valid">Valider</ion-button>
            </div>
          </form>
          <ion-card-content>
              Vous n'avez pas encore de compte ? <a routerLink="/register">Inscription</a>
          </ion-card-content>
        </ion-card>
  </div>

  <!-- <ion-item >
    <ion-label color="light">Email</ion-label>
    <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="light">Mot de passe</ion-label>
    <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item> -->

  <ion-item lines="none">
    <ion-button color="black" slot="end" fill="clear" (click)="onForget()">Mot de passe oublié ?</ion-button>
  </ion-item>

</div>
</ion-content>

