
<ion-content>
  <ion-item lines="none">

    <img src="assets/logo/logo.png" style="margin-top: 20px; width:145px; margin: 0 auto; text-align:center; margin-top: 20px !important;">
      <ion-avatar (click)="onModalPage()" *ngIf="validerTokenValue" color="light" slot="end" style=" padding:5px; margin:0px !important; position:absolute; right: 10px; top: 5px; border:1px solid #09c;">
            <img src="{{link_img + profil?.photos}}"  style="display:flex; text-transform:uppercase; justify-content:center; align-items:center; color:#09c;">
        </ion-avatar>
        <ion-button *ngIf="!validerTokenValue" slot="end" (click)="getRouteCollection();"  style="margin:0px !important; position:absolute; right: 10px; top: 5px; ">Connexion</ion-button>
  </ion-item>



<ion-grid>
    <ion-row align-items-center style="margin-top: 0px;">
    <ion-col>
          <div class="rech" >
            <div class="rech-fils1">
            <input type="search" (keyup.enter)="onLaodCarteVisite(value.value, 'all')" class="rech-input"  #value value="" placeholder="Recherche ..."/>
            <ion-icon name="search" class="rech-icon-search"  (click)="onLaodCarteVisite(value.value, 'all')"></ion-icon>
            </div>
            </div>  
      </ion-col>
  </ion-row>
  <ion-row align-items-center>
      <div class="btn">
          <ion-button shape="round" color="light" (click)="onLaodCarteVisite(value.value, 'all')" style=" text-transform:initial;">Lancer la recherche</ion-button>
      </div>
  </ion-row>
</ion-grid>

<div class="md-cards">
  <div class="md-card-cont">
    <div class="tlt" style="border: 0%">
    </div>
    <ion-slides  class="demo-card" lines="inset" *ngIf="cartes?.data?.length > 0">

	  
		  <ion-slide *ngFor="let img of cartes?.data; index as i" >
			<ion-card-content   tappable (click)="openPreviewZOOM(link_img + img.model_images, {verify_photo : true, id_modele : img.model_id}, false, true)">
			  <img class="md-img"  [src]="link_img + img.model_images" draggable="true" [alt]="(img?.model_libelle)? img?.model_libelle : 'Chargement des modèles...'" style="background:#ddd;">
			  <ion-card-subtitle *ngIf="img?.model_statut == 0">Carte hors fonction </ion-card-subtitle>
			  <ion-card-title> 
			   <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #ddd; position: absolute; left:0;" *ngIf="i > 0 "></ion-icon>
			  {{img.model_libelle}}
			  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color: #ddd; position: absolute; right: 0;" *ngIf=" i < (cartes?.data?.length - 1 )"></ion-icon>
			  </ion-card-title>
			  <ion-card-subtitle>{{img.dev}}</ion-card-subtitle>
			
			 </ion-card-content>
				
		  </ion-slide>


    </ion-slides>

    <ion-slides  class="demo-card" lines="inset" *ngIf="!cartes?.data?.length">
	  
		  <ion-slide >
			
					  <app-expandable [boucle]="false" style="width:100%;"></app-expandable>
				
		  </ion-slide>

    </ion-slides>
  </div>
</div>
  <ion-row align-items-center style="margin-top: 0px;">
    <ion-col>
		 <div class="rech" >
		<ion-button shape="round" fill="outline" color="default"  size="small" (click)="onModalPageEntreprise();">Répertoire des entreprises</ion-button>
		</div>
 </ion-col>
 
 </ion-row>
 

  
</ion-content>
